#msg
{
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    width: 100%;
    margin-top: 55px;
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#msg h4
{
    margin: 0px;
    width: calc(100% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg button
{
    cursor: pointer;
    transition: background-color 0.5s;
    color: var(--black);
    border-radius: 5px;
    border: 0px;
    width: 35px;
    height: 35px;
    position: relative;
}
#msg button:hover
{
    background-color: var(--hover);
}